<li><a href="/documentation/features/TableLoad.html">Load from a table</a></li>
<li><a href="/documentation/features/ViewLoad.html">Load from a view</a></li>
<li><a href="/documentation/features/StoredProc.html">Load from a stored proc</a></li>
<li><a href="/documentation/features/Linq.html">Linq</a></li>
<li><a href="/documentation/features/FieldAliasing.html">Field aliasing</a></li>
<li><a href="/documentation/features/Transactions.html">Transactions</a></li>
<li><a href="https://visualstudiogallery.msdn.microsoft.com/798b0d5d-b821-4516-847c-80c17c4c7e70">VS Extension</a></li>
<li><a href="/documentation/features/QueryPredicate.html">Query Predicate</a></li>
<li><a href="/documentation/features/Direct.html">Raw Access</a></li>
<li><a href="/documentation/features/Migrations.html">Database Migrator</a></li>
<li><a href="/documentation/features/Databinding.html">Databinding</a></li>
<li><a href="/documentation/features/SchemaValidation.html">Schema Validation</a></li>
<li><a href="/documentation/features/TableInit.html">Table Init</a></li>
<li><a href="/documentation/features/SchemaSupport.html">Schema Support</a></li>
<li><a href="/documentation/features/ObjectInit.html">Object Init</a></li>